.c-navigation {
    @media ($screen-sm-max) {
        margin-top: $half-gutter;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 8px $half-gutter 6px;
        color: $color-grey-900;
        text-decoration: none;
    }
    .is-active {
        &:after {
            content: "";
            display: block;
            height: 4px;
            border-radius: 2px;
            background-color: $color-grey-900;
        }
    }
}