.c-hero {
    padding: 40px 20px;
    text-align: center;
    > * {
        font-weight: normal;
    }
}
.c-hero__first-line {
    font-size: 3rem;
}
.c-hero__second-line {
    font-size: 7rem;
}
.c-hero__subheading {
    margin: 0;
    font-size: 2.5rem;
}