$screen-xs-max: "max-width: 479px";
$screen-xs-min: "min-width: 480px";

$screen-sm-max: "max-width: 767px";
$screen-sm-min: "min-width: 768px";

$screen-md-max: "max-width: 991px";
$screen-md-min: "min-width: 992px";